// Variables de typographie
    // Base values
    $base-font-size: 16px;
    $base-line-height: 1.5rem;

    // Font weights
    $font-weight-normal: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;
    $font-weight-extra-bold: 800;

    // Calculez les tailles de police basées sur le $base-font-size
    $font-size-h1: $base-font-size * 2;
    $font-size-h2: $base-font-size * 1.5;
    $font-size-h3: $base-font-size * 1.2;
    $font-size-h4: $base-font-size * 1.1;
    $font-size-h5: $base-font-size;
    $font-size-body: $base-font-size;

    // Calculez les marges basées sur le $base-font-size
    $margin-bottom-h1: $base-font-size * 1;
    $margin-bottom-h2: $base-font-size * 0.75;
    $margin-bottom-h3: $base-font-size * 0.5;
    $margin-bottom-h4: $base-font-size * 0.75;
    $margin-bottom-h5: $base-font-size * 1.25;
    $margin-bottom-body: $base-font-size * 1.25;

// Couleurs
    $color-primary: #B2D234;
    $color-blue: #60A0D8;
    $color-secondary: #606060;
    $color-accent: #e74c3c;
    $color-background: #ffffff;
    

    // Blanc et Gris
    $color-white: #ffffff;
    $color-light-gray: #f2f2f2;
    $color-medium-gray: #888888;
    $color-dark-gray: #333333;

    // Noir
    $color-pure-black: #000000;
    $color-black: #333333;

    // Texte
    $color-text: $color-black;

// Spacing 
    $spacing-unit: 8px;

    $spacing-0: 0;
    $spacing-1x: $spacing-unit;
    $spacing-2x: $spacing-unit * 2;
    $spacing-3x: $spacing-unit * 3;
    $spacing-4x: $spacing-unit * 4;
    $spacing-5x: $spacing-unit * 5;
    $spacing-6x: $spacing-unit * 6;
    $spacing-7x: $spacing-unit * 7;
    $spacing-8x: $spacing-unit * 8;

