
// Mixin pour texte gras
@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

// Mixin pour texte mince
@mixin font-weight-normal {
  font-weight: $font-weight-normal;
}

// Titre de premier niveau
%heading1{
  font-size: $font-size-h1;
  font-weight: $font-weight-extra-bold;
  margin-bottom: $margin-bottom-h1;
}

// Titre de deuxième niveau
%heading2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-bottom-h2;
}

// Titre de troisième niveau
%heading3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-bottom-h3;
}

// Titre de quatrième niveau
%heading4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  margin-bottom: $margin-bottom-h4;
}

// Titre de cinquième niveau
%heading5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-medium;
  margin-bottom: $margin-bottom-h5;
}

// Texte de base gras
%body-text-bold {
  @include font-weight-bold;
  font-size: $font-size-body;
  line-height: $base-line-height;
  margin-bottom: $margin-bottom-body;
}

// Texte de base mince
%body-text-normal {
  @include font-weight-normal;
  font-size: $font-size-body;
  line-height: $base-line-height;
  margin-bottom: $margin-bottom-body;
}

// Liens
%link {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
